extends ui_layout

block content
  
  .ui.text.container
    br
    h2 This is where we'll put the content moderation policy.
    br
    p You've clicked that you want to learn more about our content moderation policy. 

    p This is just a test version of the page. Content will be added later. 
    br
    br
    .ui.big.green.labeled.icon.button.info
        i.reply.icon
        |   Return to Feed
    br
    br
    br
    br
