extends ui_layout

block content

  .ui.text.container
    br
    h2 Community Rules for EatSnap.Love
    p We are so glad you are here to eat, snap and love along with us! Before you get started, please review our community rules. These rules help foster a friendly and fun community. Please note that this is not a comprehensive list. Our moderators reserve the right to remove anything we deem inappropriate.

    p Remember if you encounter anything in the following list, be sure to <b>Flag It 🚩</b> so our moderators can investiagte and help out.

    h3 No SPAM (unless it's in a can!)
    p This is not the place to sell your services or promote your brand. SPAM will be deleted when found.

    h3 No Personal Attacks and Bullying
    p Zero tolerance on this! EatSnap.Love is a place to to share our snaps and our love, not to tear each other down. 

    h3 No Racism, sexism, and other discrimination
    p Attacking entire classes of people is just like attacking a single person: we'll ban you for it.

    h3 No NSFW material
    p If you wouldn't show your boss, don't show it here! 

    .ui.big.green.labeled.icon.button#policyButton
        i.rocket.icon
        |   Return to Feed
    br
    br
    br
    br
      
  block scripts
    script().
      //Timing how long the user looks at this page
      //from https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API
      
      // Set the name of the hidden property and the change event for visibility
      var hidden, visibilityChange; 
      
      if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support 
        hidden = "hidden";
        visibilityChange = "visibilitychange";
      } else if (typeof document.msHidden !== "undefined") {
        hidden = "msHidden";
        visibilityChange = "msvisibilitychange";
      } else if (typeof document.webkitHidden !== "undefined") {
        hidden = "webkitHidden";
        visibilityChange = "webkitvisibilitychange";
      }


      // If the page is hidden, stop the timer and push total time in db
      // if the page is shown, start the timer (i.e. get the current time)
      
      var policyPageViewTimer = Date.now();
      
      function handleVisibilityChange() {
        if (document[hidden]) {
          var currentTime = Date.now();
          totalViewTime = currentTime - policyPageViewTimer;
          //post to db, this will get cancelled if you click the button. This is for swapping between tabs
          $.post("/view_policy_viewtime", { totalPolicyViewTime: totalViewTime, startTime: policyPageViewTimer, _csrf : $('meta[name="csrf-token"]').attr('content') } );
        } else {
          //start the timer
          policyPageViewTimer = Date.now();
        }
      }
      
      // Handle page visibility change   
      document.addEventListener(visibilityChange, handleVisibilityChange, false);
      
      //recording the time on a normal button click exit
      $('#policyButton, #headerHomeButton').on('click', function(){
        var currentTime = Date.now();
        totalViewTime = currentTime - policyPageViewTimer;
        //post to db, wait to change the page
        $.post("/view_policy_viewtime", { totalPolicyViewTime: totalViewTime, startTime: policyPageViewTimer, _csrf : $('meta[name="csrf-token"]').attr('content') }, function(){
          window.location.href='/';
        } );
      
      });
